<!DOCTYPE html>
<html xmlns="'http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello Qunee for HTML5</title>
	<meta charset="utf-8">
	<script src="http://demo.qunee.com/js/jquery/jquery.min.js"></script>
	<script src="http://demo.qunee.com/lib/qunee-min.js"></script>
	<script src="http://demo.qunee.com/js/i18n.js"></script>
	<script src="http://demo.qunee.com/js/common.js"></script>
</head>
<body>
	<h1 id='test' style='text-align:center' >CS Course Structure in SUSTC </h1>
	<div style="height: 800px;" id="canvas"/>

	<script>
		if(!window.getI18NString){getI18NString = function(s){return s;}}
		var graph = new Q.Graph(canvas);

		//read json file
		$.get("data/data.json",function(data,status){
			graph.clear();
			graph.parseJSON(data);
  		},"text");

		//auto layout
		var layouter = new Q.TreeLayouter(graph);
		graph.callLater(function(){
    		graph.zoomToOverview();
		})

		graph.onclick = function(evt) {
			var target = graph.hitTest(evt);
			if(target instanceof Q.LabelUI){
				alert(target.data);
			}
		}
	</script>

</body>
</html>
