<!DOCTYPE html>
<html lang="en"
      xmlns="'http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Html5xCss3 dot com - Free Responsive Html5 Templates">
    <meta name="author" content="#">
	
    <title>CSyllabus | Be free to share your study!</title>
	
	
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
	
	<link rel="stylesheet" th:href="@{css/lightbox.css}">
	
	<!-- Core JavaScript Files -->  	 
    
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

	<div class="header">
		<div id='cssmenu' >
			<ul>
			   <li class="active"><a href='index.html'><span>CSyllabus</span></a></li>
			   <li class=' has-sub'><a href='#'><span>Category</span></a>
				  <ul>
					 <li class='has-sub'><a href='#'><span>Item 1</span></a>
						<ul>
						   <li><a href='#'><span>Sub Item</span></a></li>
						   <li class='last'><a href='#'><span>Sub Item</span></a></li>
						</ul>
					 </li>
					 <li class='has-sub'><a href='#'><span>Item 2</span></a>
						<ul>
						   <li><a href='#'><span>Sub Item</span></a></li>
						   <li class='last'><a href='#'><span>Sub Item</span></a></li>
						</ul>
					 </li>
				  </ul>
			   </li>
			   <li><a href='graph.html'><span>Gallery</span></a></li>
			   <li><a href='single.html'><span>About</span></a></li>
			   <li class='last'><a href='upload.html'><span>UPLOAD</span></a></li>
               <li class='login'><a href='login.html'><span>LOGIN</span></a></li>
			</ul>
		</div>
	</div>
	<div id="page-content" class="index-page">
		<div id="container">
			<!-- These are our grid blocks -->
			<div class="item">
				<div class="content-item">
					<h3 class="title-item"><a th:href="single.html">Artificial Intelligence</a></h3>
					<div class="time"> NOV.22ND</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/database.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/database.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Database</a></h3>
					<div class="time"> OCT.31ST</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/embedded-system.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/embedded-system.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Embedded System</a></h3>
					<div class="time"> NOV.19TH</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{computer-network.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/computer-network.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Computer Networking</a></h3>
					<div class="time"> OCT.28TH</div>
					<p class="info">A top down approach</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/ooj.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/ooj.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Object Oriented Design</a></h3>
					<div class="time"> OCT.30TH</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Information Theory</a></h3>
					<div class="time"> OCT.28TH</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/JAVA.png}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/JAVA.png}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">JAVA</a></h3>
					<div class="time"> NOV.14TH</div>
					<p class="info">Southern University of Science and Technology</p>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/java.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/java.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">JAVA2</a></h3>
					<span class="time">NOV.14TH</span>
					<p class="info">Southern University of Science and Technology</p>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/algorithm.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/algorithm.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Algorithm Design</a></h3>
					<div class="time"> OCT.23RD</div>
					<p class="info">Southern University of Science and Technology</p>
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/digital-circuit.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/digital-circuit.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Digital Circuit</a></h3>
					<div class="time"> NOV.8TH</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/datastructure.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/datastructure.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Data Structure</a></h3>
					<div class="time"> NOV.7TH</div>
					<p class="info">Southern University of Science and Technology</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/Computer_Organization.jpg}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/Computer_Organization.jpg}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Computer Organization</a></h3>
					<div class="time"> SEPTEMBER 30TH</div>
					<p class="info">Aenean feugiat in ante et blandit. Vestibulum posuere molestie risu.</p>
					
				</div>
				<div class="bottom-item">
					<a href="#" class="btn btn-share share"><i class="fa fa-share-alt"></i> Share</a>
					<a href="#" class="btn btn-like"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="btn btn-comment"><i class="fa fa-comment-o"></i></a>
					<a href="single.html" class="btn btn-more"><i class="fa fa-long-arrow-right "></i></a>
				</div>
			</div>
			<div class="item">
				<a class="example-image-link" th:href="@{/images/add.png}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img class="example-image" th:src="@{/images/add.png}" alt=""/></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">Click to Add</a></h3>
					<div class="time"> </div>
					<p class="info">Add your own resource.</p>
					
				</div>
				
			</div>
		</div>
	</div>
    
	
    <!-- Once the page is loaded, initialized the plugin. -->
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.js}" ></script>
	
	<!-- jQuery Pinterest -->
    <script type="text/javascript" th:src="@{/js/jquery.pinto.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
	
	<!-- Light Box -->
	<script th:src="@{/js/lightbox-plus-jquery.min.js}"></script>
	
	<!-- Menu -->
	<script th:src="@{/js/script.js}"></script>
	
	<script type="text/javascript">
		$('#container').pinto();
	</script>
	
</body>
</html>