<h2>Edit Course Information</h2>
<div *ngIf="course">
  <label>Code:
    <input [(ngModel)] = course.course_code>
  </label><br>
  <label>Name:
    <input [(ngModel)] = course.course_name>
  </label><br>
  <label>Description:
    <textarea [(ngModel)] = course.description></textarea>
  </label><br>
  <label>Professor:
    <input [(ngModel)] = course.professor>
  </label><br>
  <label>School:
    <input [(ngModel)] = course.school>
  </label><br>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
  <button (click)="goBack()">Back</button>
</div>
