<h2>Edit School Information</h2>
<div *ngIf="school">
  <label>Name:
    <input [(ngModel)] = school.school_name>
  </label><br>
  <label>Website:
    <input [(ngModel)] = school.website>
  </label><br>
  <label>Logo:
    <input [(ngModel)] = school.logo_src>
  </label><br>
  <label>Description:
    <textarea [(ngModel)] = school.description></textarea>
  </label><br>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
  <button (click)="goBack()">Back</button>
</div>
